.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/project-bg.jpg");
  background-size: cover;
}
.detailsWrapper {
  background-color: rgb(237, 223, 223);
  border-radius: 20px;
  width: 50svw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgContainerdetailsPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 700px;
}
.imgContainerdetailsPage img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.detailsInfoContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 40%;
}
.mainInfoName {
  font-size: 50px;
  font-weight: 900;
  font-family: "Protest Revolution", sans-serif;
  font-style: normal;
  color: rgb(122, 10, 142);
}
.mainInfo {
  font-size: 25px;
  font-weight: 900;
  margin: 0;
  font-family: "Protest Revolution", sans-serif;
  font-style: normal;
  color: rgb(122, 10, 142);
}
.mainInfoSubData {
  font-weight: bold;
  font-size: 25px;
}
.mainInfoSubDataDescription {
  text-align: start;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 900px) {
  .detailsContainer {
    background-image: url("../assets/project-bg.jpg");
    background-size: cover;
  }

  .imgContainerdetailsPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
  }
  .mainInfoName {
    font-size: 30px;
    font-weight: 900;
    font-family: "Protest Revolution", sans-serif;
    font-style: normal;
    color: rgb(122, 10, 142);
  }
  .mainInfoSubDataDescription {
    text-align: start;
    font-size: 18px;
  }
}
