.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3a3232;
}
.detailsWrapper {
  border-radius: 20px;
  width: 50svw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.617);
}
.imgContainerdetailsPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 700px;
}
.imgContainerdetailsPage img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.detailsInfoContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 40%;
}
.mainInfoName {
  font-size: 50px;
  font-weight: 900;
  font-family: "Protest Revolution", sans-serif;
  font-style: normal;
  color: aliceblue;
  border-bottom: 3px solid white;
}
.mainInfo {
  font-size: 25px;
  font-weight: 900;
  margin: 0;
  font-family: "Protest Revolution", sans-serif;
  font-style: normal;
  color: aliceblue;
  border-bottom: 3px solid white;
}
.mainInfoSubData {
  font-weight: bold;
  font-size: 25px;
  color: aliceblue;
}
.mainInfoSubDataDescription {
  text-align: start;
  font-size: 20px;
  font-weight: bold;

  color: aliceblue;
  width: 30dvw;
}

@media (max-width: 900px) {
  .detailsContainer {
    background-color: #44221b;
  }

  .imgContainerdetailsPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
  }
  .mainInfoName {
    font-size: 30px;
    font-weight: 900;
    font-family: "Protest Revolution", sans-serif;
    font-style: normal;
  }
  .mainInfoSubDataDescription {
    text-align: start;
    font-size: 18px;
  }
}
