.iconAddAnime {
  border: none;
  background-color: Transparent;
  cursor: pointer;
  margin-left: 2vw;
  filter: invert(83%) sepia(45%) saturate(4623%) hue-rotate(341deg)
    brightness(102%) contrast(105%);
  font-size: 30px;
  color: orange;
  font-family: "Protest Revolution", sans-serif;
  font-weight: 700;
  font-style: normal;
  border-radius: 10px;
}

.iconAddAnime img {
  width: 40px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.iconAddAanime img:hover {
  transform: scale(1.1);
}

.formContainer {
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  border-radius: 15px;
  width: 60%;
  margin: 10px;
}
.formContainer.show {
  background-image: url("../assets/formBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
  opacity: 1;
  transition: 0.5s ease-in-out;
  min-height: 500px;
  max-height: 500px;
  display: flex;
  align-items: end;
}
.addProduct {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.addProduct fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  border: none;
  border-radius: 15px;
  margin-bottom: 25px;
}

.addProduct legend {
  font-weight: bold;
}

.addProduct input {
  border-radius: 25px;
  margin-left: 10px;
  padding: 5px;
  border: none;
}
.addProduct textarea {
  border-radius: 25px;
  margin-left: 10px;
  padding: 5px;
  border: none;
  width: 70%;
  height: 30px;
  resize: none;
}
.addProduct input {
  min-width: 4vw;
}

.addProduct label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.addProduct button {
  border: none;
  background: #011627;
  box-shadow: inset -10px -10px 20px #000910, inset 10px 10px 20px #02233e;
  color: #fcfcfc;
  border-radius: 10px;
  height: 5vh;
  width: 10vw;
  cursor: pointer;
  align-self: end;
  transition: 0.3s ease-in-out;
  margin-left: 20px;
}

.addProduct button:hover {
  border-radius: 10px;
  background: #011627;
  box-shadow: inset 10px 10px 20px #000910, inset -10px -10px 20px #02233e;
}
