.listWrapper {
  display: flex;
  flex-wrap: wrap;
}
.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3px;
}
.animeImg {
  width: 350px;
  height: 350px;
  object-fit: contain;
}
