@media (min-width: 1800px) {
  .searchbarcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .searchLabelContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .searchbarWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
  }
  .searchbarcontainer input {
    width: 100%;
    height: 3vh;
    border-radius: 10px;
    border: none;
    margin: 5px;
  }
  .searchDataWrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 10px 40px 10px;
    background-color: rgb(237, 223, 223);
    border-radius: 20px;
    position: relative;
    z-index: 1;
    width: 70%;
    overflow: hidden;
  }
  .searchDataContainer {
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 35px;
  }
  .searchDataContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .searchDataContainer img:hover {
    scale: 1.1;
    cursor: pointer;
  }
  .searchDataContainer p {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
  }
  .searchDataContainer p:hover {
    scale: 1.1;
    cursor: pointer;
  }
  .searchLabel {
    color: aliceblue;

    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
  }
}

@media (max-width: 1800px) {
  .searchbarcontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .searchLabelContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .searchbarcontainer input {
    width: 100%;
    height: 3vh;
    border-radius: 10px;
    border: none;
    margin: 5px;
  }
  .searchbarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50dvw;
  }
  .searchDataWrapper {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 10px 40px 10px;
    background-color: rgb(237, 223, 223);
    border-radius: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 70%;
  }
  .searchDataContainer {
    text-align: center;
    width: fit-content;
    height: 200px;
    margin: 30px;
  }
  .searchDataContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .searchDataContainer img:hover {
    scale: 1.1;
    cursor: pointer;
  }
  .searchDataContainer p {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
  }
  .searchDataContainer p:hover {
    scale: 1.1;
    cursor: pointer;
  }
  .searchLabel {
    color: aliceblue;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
  }
}

@media (max-width: 1350px) {
  .searchDataWrapper {
    height: 125vh;
  }
}

@media (max-width: 950px) {
  .searchDataWrapper {
    height: 180vh;
  }
}

@media (max-width: 680px) {
  .searchDataWrapper {
    height: 260vh;
  }
}

@media (max-width: 470px) {
  .searchDataWrapper {
    height: 690vh;
  }
}
